.form {
  position: relative;
  justify-content: right;
  height: 100%;
  max-width: 400px;
  align-items: center;
  margin: 5em auto 0;
  padding: 3em 2em;
  border: 1px solid black;

  &::before {
    content: "Share a Youtube movie";
    position: absolute;
    top: -1em;
    left: 1em;
    background: white;
    padding: 0 0.3em;
  }

  .formItem {
    align-items: baseline;
  }

  .title {
    padding-right: 1em;
  }

  button {
    width: 100%;
  }
}
